<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
        <hr>
            <a href="/">Go Back Home</a>
        <hr>
        <a href="/posted">Go Back Posted Page</a>
        <hr>
    <br><br>
    <hr>
        <ul>
            <% files.forEach(item => { %>
                <% if (item.indexOf(".png")>0 || item.indexOf(".jpg")>0) { %>
                    <img src="./new<%= item %> " alt="<%= item %>" >
                <% } %>
                <% if (item.indexOf(".txt")>0) { %>
                    <p><%= item  %>  </p>
                <% } %>
            <% }) %>
        </ul>
    <hr>
    <br><br>
</body>
</html>